* {
    margin: 0px;
    padding: 0px;
}

#Music {
    height: 980px;
    background-image: linear-gradient(#e66465, #9198e5);
/ / 渐变色
}

#Music-text {
    width: 200px;
    height: 100px;
    float: left;
    margin-top: 220px;
    margin-left: 46%;
}

#Music-text span {
    font-size: 22px;
    font-weight: bold;
    font-family: Garamond;
}

#Music #Music-player .Mucis-Program {
    width: 460px;
    height: 280px;
    margin-left: 38%;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.4);
    float: left;
    border-radius: 25px;
}

#Music-player .Mucis-Program img {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 190px;
}

#Music-player .Mucis-Program #stop {
    margin-top: 50px;
    margin-left: 218px;
    display: none;
    overflow: auto;
}

#Music-player .Mucis-Program #start {
    margin-top: 50px;
    margin-left: 218px;
    display: block;
    overflow: auto;
}

#Music-player .Mucis-Program #preMu {
    margin-top: -30px;
    margin-left: 60px;
    float: left;
}

#Music-player .Mucis-Program #nextMu {
    margin-left: 278px;
    margin-top: -30px;
    float: left;
}

#Music-player .Mucis-Program #voiceMu {
    margin-left: 218px;
    margin-top: 30px;
    float: left;
}

#voice {
    margin-left: 246px;
    margin-top: -24px;
    float: left;
}

i {
    cursor: pointer;
}
