body {
    background-color: #FFF;
    margin: 0 auto;
}

header{
    background-color: #466995;
    border-bottom: 1px solid #466995;
    position: relative;
    text-align: center;
    height: 40px;
}

nav {
    background-color: #DBE9EE;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 2px;
}

ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}

.nav-items{
    display: inline-block;
}

a {
    color: #466995;
    font-family:  "Chalkduster", fantasy, Serif;
    font-size: 28px;
    font-weight: 450;
    text-transform: uppercase;
    width: 80px;
}

a:hover {
    color: #DBE9EE;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    margin-top: 44px;
}

h1 {
    color: #FFFFFF;
    font-family: "Bradley Hand",cursive,Serif;
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
}

h2 {
    font-family: "Comic Sans MS", cursive, serif;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: left;
    color: #466995;
    padding: 10px 0px 10px 10px;
}

img {
    width: 100%;
    border: 5px;
    margin: 10px 0 0 0;
    padding: 5px 0 0 0;
    height: auto;
    transition: 1s ease;
}

img:hover{
    webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

.recipe {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
}


.time {
    padding-left: 10px;
    padding-top: 10px;
    width: 20px;
    height: auto;
}

.mins {
    display: inline-block;
    font-family: "Bradley Hand", cursive,serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: left;
    color: #4a4a4a;
    position: relative;
    bottom: 5px;
}

.description {
    font-family: "DejaVu Sans Mono",monospace, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: 0.1px;
    text-align: left;
    color: #4a4a4a;
    padding: 10px 0px 10px 10px;
    border-top: 1px solid #4a4a4a;
}

.container {
    min-width: 500px;
    margin: auto;
}

footer {
    background-color: #DBE9EE;
    height: 50px;
    color:#466995;
}

footer h2{
    text-align: center;
    font-weight: 300;
}

