body {
    background-color: #FFF;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url(../images/background.png);
}

.container {
    min-width: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, auto);
    gap: 20px;
}

.skip {
    display: block;
    width: fit-content;
    margin: .2em auto;
    border: 1.5px solid white;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    z-index: 100;
    justify-self: center;
}

/*.skip a {*/
/*    position: absolute;*/
/*    color: black;*/
/*    background-color: white;*/
/*    top: -25px;*/
/*    left: -500px;*/
/*    transition: top 1s ease-out;*/
/*}*/

/*.skip a:focus {*/
/*    top: 0;*/
/*}*/

/*.skip span {*/
/*    font-size: 18px;*/
/*}*/

.skip a {
    position: absolute;
    top: -40px;
    /* z-index: 1; */
    color: rgb(255, 255, 255);

}

.skip a:focus {
    position: absolute;
    top: 0;
    color: rgb(255, 255, 255);

}

header {
    background-color: #466995;
    border-bottom: 1px solid #466995;
    position: relative;
    text-align: center;
    height: 100px;
    grid-column: 1/span 1;
    grid-row: 1/span 1;
}

header span {
    color: #FFFFFF;
    font-family: "Bradley Hand", cursive, Serif;
    font-size: 40px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    justify-self: center;
}

nav {
    background-color: #DBE9EE;
    box-sizing: border-box;
    padding: 5px;
    text-align: center;
    width: 100%;
    position: relative;
    top: 2px;
    grid-column: 1/span 1;
    grid-row: 2/span 1;
}

ul {
    margin: 30px auto;
    padding: 0 20px;
    text-align: center;
}

.nav-items {
    display: inline-block;
}

main {
    grid-column: 1/span 1;
    grid-row: 3/span 8;
    gap: 20px;
    margin-top: 44px;
}

aside {
    grid-column: 1/span 1;
    grid-row: 14/span 1;
    width: 100%;
}

aside p {
    font-family: "Bradley Hand", cursive, Serif;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: left;
    color: #466995;
    text-align: center;
    margin-bottom: 5px;
}

footer {
    background-color: #DBE9EE;
    height: 80px;
    color: #466995;
    grid-column: 1/span 1;
    grid-row: 15/span 1;
}

footer h3 {
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.2;
    font-family: "Sofia", sans-serif;
    text-shadow: 3px 3px 3px #ababab;
}


h2 {
    font-family: "Comic Sans MS", cursive, serif;
    font-size: 28px;
    font-weight: 300;
    letter-spacing: 0.3px;
    text-align: left;
    color: #466995;
    padding: 10px 0px 10px 10px;
}

a {
    color: #466995;
    font-family: "Chalkduster", fantasy, Serif;
    font-size: 28px;
    font-weight: 450;
    text-transform: uppercase;
    width: 80px;
}

a:hover {
    color: #FEFBEA;
}

a.current {
    color: #7B81AA;
}

a.current:hover {
    color: #FFEFD5;
}

img {
    width: 100%;
    border: 5px;
    margin: 10px 0 0 0;
    padding: 5px 0 0 0;
    height: auto;
    transition: 1s ease;
}

img:hover {
    webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    transition: 1s ease;
}

.recipe {
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.7);
    display: grid;
}


.mins {
    display: inline-block;
    font-family: "Bradley Hand", cursive, serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.3px;
    text-align: left;
    color: #323232;
    position: relative;
    bottom: 5px;
    margin-left: 10px;
    line-height: 1.5;
}

.description {
    font-family: "DejaVu Sans Mono", monospace, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: 0.1px;
    text-align: left;
    color: #323232;
    padding: 10px 0px 10px 10px;
    border-top: 1px solid #4a4a4a;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    grid-column: 1/span 1;
    grid-row: 11/span 1;
}

.gallery img {
    width: 470px;
    height: auto;
    margin: 10px
}

.gallery h2 {
    text-align: center;
}

#Music {
    grid-column: 1/span 1;
    grid-row: 12/span 1;
}

#Music #Music-player .Music-Program {
    width: 460px;
    height: 280px;
    margin-left: 4%;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 25px;
    font-family: "Bradley Hand", cursive, Serif;
}

#Music-player .Music-Program img {
    width: 80px;
    height: 80px;
    margin-top: 40px;
    margin-left: 190px;
}

#Music-player .Music-Program #stop {
    margin-top: 50px;
    margin-left: 218px;
    display: none;
    overflow: auto;
}

#Music-player .Music-Program #start {
    margin-top: 50px;
    margin-left: 218px;
    display: block;
    overflow: auto;
}

#Music-player .Music-Program #preMu {
    margin-top: -30px;
    margin-left: 60px;
    float: left;
}

#Music-player .Music-Program #nextMu {
    margin-left: 278px;
    margin-top: -30px;
    float: left;
}

#Music-player .Music-Program #voiceMu {
    margin-left: 218px;
    margin-top: 30px;
    float: left;
}

#voice {
    margin-left: 246px;
    margin-top: -24px;
    float: left;
}

i {
    cursor: pointer;
}

.card {
    width: 70%;
    padding: 20px;
    border: 6px solid #466995;
    box-shadow: 20px 20px 0 #466995;
    border-radius: 50px;
    position: relative;
    grid-column: 1/span 1;
    grid-row: 13/span 1;
}

.card h2 {
    color: #466995;
    font-size: 34px;
    text-transform: uppercase;
}

.card .row {
    position: relative;
    width: 100%;
    display: grid;
    grid: auto / auto auto;
    grid-template-columns: repeat(auto-fit, minmax(70%, 1fr));
    grid-gap: 30px;
}

.card .row .col {
    position: relative;
    width: 100%;
    margin: 30px 20px 40px 0;
    transition: 0.5s;
}

.card .row .form-group {
    position: relative;
    width: 100%;
    height: 40px;
    color: #ffffff;
}

.card .row .form-group input,
.card .row .form-group textarea {
    position: absolute;
    width: 90%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 0 10px 20px;
    border: 5px solid #466995;;
    box-shadow: 10px 10px 0 #466995;;
    color: #466995;
    border-radius: 50px;
}

.card .row .form-group label {
    line-height: 40px;
    color: #466995;
    font-size: 24px;
    font-weight: 700;
    font-family: "Bradley Hand", cursive, Serif;
    margin: 0 0 0 30px;
    display: block;
    pointer-events: none;
}

.row .col:nth-child(6) {
    margin-top: 64px;
}

.card .row .form-group input:focus,
.card .row .form-group textarea:focus {
    border: 5px solid #ffffff;
    transition: all 0.5s;
}

.card .row input[type="submit"] {
    border: 5px solid #466995;;
    box-shadow: 10px 10px 0 #466995;;
    padding: 10px;
    height: 100%;
    width: 100%;
    cursor: pointer;
    outline: none;
    background: transparent;
    text-transform: uppercase;
    color: #466995;
    line-height: 40px;
    font-size: 24px;
    font-weight: 700;
    border-radius: 45px;
    transition: all 0.4s;
}

.card .row input[type="submit"]:hover {
    border: 5px solid rgba(255, 255, 255, 1);
    color: #ffffff;
    transition: all 0.4s;
}

/* Regular Icon */
.user::before {
    content: '\f007';
    font-family: "Font Awesome 6 free";
    font-weight: 400;
}

/* Solid Icon */
.cloud::before {
    content: '\f0c2';
    font-family: "Font Awesome 6 free";
    font-weight: 900;
}


.fontawesomeicon {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #466995;
}

.animate {
    font-size: 40px;
    margin: 0 0 0 100px;
}

.animate span {
    display: inline-block;
}

.box span {
    color: #FFFFFF;
    opacity: 1;
    transform: translate(-150px, 0) scale(.5);
    animation: leftRight 1s forwards;
}

@keyframes leftRight {
    40% {
        transform: translate(30px, 0) scale(.7);
        opacity: 1;
        color: #466995;
    }
    60% {
        color: #87CEEB;
    }
    80% {
        transform: translate(0) scale(2);
        opacity: 0;
    }
    100% {
        transform: translate(0) scale(1);
        opacity: 1;
    }
}

/* Applies styles when Reduced Motion is enabled */
@media (prefers-reduced-motion: reduce) {
    .box span {
        animation: none !important;
        transform: none !important;
    }
}


@media screen and (min-width: 700px) {
    .container {
        min-width: 500px;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 20px;
    }

    header {
        grid-row: 1/ span 1;
        grid-column: 1/ span 2;
    }

    /*.skip {*/
    /*    margin: .2em auto .2em 0;*/
    /*    justify-self: left;*/
    /*}*/

    nav {
        grid-row: 2/ span 1;
        grid-column: 1/ span 2;
    }

    main {
        grid-row: 3/ span 4;
        grid-column: 1/ span 2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, auto);
        gap: 20px;
        margin-top: 44px;
    }

    .gallery {
        grid-row: 7/ span 1;
        grid-column: 1/ span 2;
    }

    #Music {
        grid-row: 8/ span 1;
        grid-column: 1/ span 2;
    }

    #Music #Music-player .Music-Program {
        margin-left: 20%;
    }

    .card {
        grid-row: 9/ span 1;
        grid-column: 1/ span 2;
        padding: 30px 90px 90px 90px;
    }

    .card .row {
        grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    }

    .card h2 {
        font-size: 60px;
    }

    .card .row input[type="submit"] {
        width: 50%;
    }

    aside {
        grid-row: 10/ span 1;
        grid-column: 1/ span 2;
    }

    footer {
        grid-row: 11/ span 1;
        grid-column: 1/ span 2;
    }

    .gallery img {
        width: 300px;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .recipe {
        display: grid;
    }

}

